<web-app>
    <servlet>
        <servlet-name>Keep Up</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.bgprocess.keepup</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Keep Up</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
